body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* #region a */
/* #endregion */
/* #region a */
#navbar a{
	color: lightgray;
	text-decoration: none;
	font-size: 20px;
}
#navbar a.active{
	color: black;
	font-weight: bold;
}
#navbar a:hover{
	color: black;
}
/* #endregion */

#navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
}
#navbar .navbar-left, #navbar .navbar-right{
	display: flex;
	align-items: center;
}
#navbar .navbar-right a{
	padding-bottom: 30px;
}
/* #region navbar left */
#navbar .navbar-left > *{
	margin-left: 80px;
}
#navbar .navbar-left img{
	height: 25px;
}
/* #endregion */
/* #region navbar right */
#navbar .navbar-right > *{
	margin-right: 80px;
}
#navbar .navbar-right .hidden-menu{
	display: none;
}
#navbar .navbar-right .hidden-menu.active{
	display: flex;
}
#navbar .navbar-right .btn-black{
	padding: 10px 20px;
	color: white;
	background-color: black;
	border-radius: 10px;
	border: none;
	transition: all 0.2s;
}
#navbar .navbar-right .btn-black:hover{
	background-color: rgb(43, 43, 43);
}
#navbar .navbar-right .btn-grey{
	padding: 10px 20px;
	color: white;
	background-color: rgb(197, 197, 197);
	border-radius: 10px;
	border: none;
	transition: all 0.2s;
}
#navbar .navbar-right .btn-grey:hover{
	background-color: rgb(212, 212, 212);
}
/* #endregion */

/* #region hidden-menu */
.hidden-menu{
	background-color: white;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #888888;

	display: flex;
	justify-content: space-around;

	position: absolute;
	top: 90px;
}
/* #region features-menu */
.navbar-right .features-menu{
	right: 350px;
}
/* #endregion */
/* #region plans-menu */
.navbar-right .plans-menu{
	right: 570px;
}
/* #endregion */
/* #region about-us */
.navbar-right .about-us-menu{
	right: 400px;
}
/* #endregion */
/* #region help */
.navbar-right .help-menu{
	right: 300px;
}
/* #endregion */
.hidden-menu ul{
	font-size: 20px;
	color: grey;
	margin: 5px 35px;
	list-style-type: none;
	padding: 0;
}
.hidden-menu li{
	font-size: 20px;
	color: grey;
	margin: 25px 0;
	
	display: flex;
	align-items: center;
}
.hidden-menu li i{
	background-color: lightgray;
	color: #fff;
	border-radius: 50%;
	padding: 7px;
	margin-right: 10px;
	font-size: 15px;
	
}
.hidden-menu li span{
	color: lightgray;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}
.hidden-menu li .coming-soon{
	position: relative;
	font-size: 10px;
	color: blue;
	top: -1rem;
	left: -1rem;
}
.hidden-menu li div{
	color: rgb(207, 207, 207);
}
/* #endregion */
